# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",delimiter="\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00?

In [3]:
len(chipo[chipo["item_price"].apply(lambda x:float(x[1::])>10.00)])

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [4]:
chipo.loc[:,["item_name","item_price"]]

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [5]:
chipo.sort_values(by=["item_name"],ascending=True,inplace=True)

### Step 7. What was the quantity of the most expensive item ordered?

In [6]:
chipo["item_price_float"]=chipo["item_price"].apply(lambda x:float(x[1::]))

In [7]:
chipo[chipo["item_price_float"].apply(lambda x:x==chipo["item_price_float"].max())][["quantity","item_price"]]

      quantity item_price
3598        15    $44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [8]:

chipo[chipo["item_name"].apply(lambda x:x=="Veggie Salad Bowl")].shape[0]

18

### Step 9. How many times did someone order more than one Canned Soda?

In [9]:
list(chipo[chipo["item_name"].apply(lambda x:x=="Canned Soda")]["quantity"]>1).count(True)

20