# Regiment

### Introduction:

Special thanks to: http://chrisalbon.com/ for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create the DataFrame with the following values:

In [2]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

In [3]:
regiment=pd.DataFrame(raw_data)
regiment

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [4]:
regiment[regiment["regiment"].apply(lambda x:x=="Nighthawks")]["preTestScore"].mean()

15.25

### Step 5. Present general statistics by company

In [5]:
regiment.describe()

       preTestScore  postTestScore
count     12.000000      12.000000
mean      11.083333      62.333333
std       12.324833      21.376850
min        2.000000      25.000000
25%        2.750000      57.000000
50%        3.500000      62.000000
75%       24.000000      70.000000
max       31.000000      94.000000

### Step 6. What is the mean of each company's preTestScore?

In [6]:
regiment.groupby("company")["preTestScore"].mean()

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

### Step 7. Present the mean preTestScores grouped by regiment and company

In [7]:
regiment.groupby(["regiment","company"])["preTestScore"].mean()

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

In [8]:
regiment.groupby(["regiment","company"]).agg({"preTestScore":"mean"})

                    preTestScore
regiment   company
Dragoons   1st               3.5
           2nd              27.5
Nighthawks 1st              14.0
           2nd              16.5
Scouts     1st               2.5
           2nd               2.5

### Step 9. Group the entire dataframe by regiment and company

In [9]:
regiment.groupby(["regiment","company"]).first()

                      name  preTestScore  postTestScore
regiment   company
Dragoons   1st       Cooze             3             70
           2nd      Ryaner            24             94
Nighthawks 1st      Miller             4             25
           2nd         Ali            31             57
Scouts     1st       Sloan             2             62
           2nd       Riani             2             62

### Step 10. What is the number of observations in each regiment and company

In [10]:
regiment.groupby(["regiment","company"]).name.count()

regiment    company
Dragoons    1st        2
            2nd        2
Nighthawks  1st        2
            2nd        2
Scouts      1st        2
            2nd        2
Name: name, dtype: int64

### Step 11. Iterate over a group and print the name and the whole data from the regiment

In [11]:
grp = regiment.groupby("name")
[print(name) for name in grp]

('Ali',       regiment company name  preTestScore  postTestScore
2   Nighthawks     2nd  Ali            31             57
11      Scouts     2nd  Ali             3             70)
('Cooze',    regiment company   name  preTestScore  postTestScore
4  Dragoons     1st  Cooze             3             70)
('Jacobson',      regiment company      name  preTestScore  postTestScore
1  Nighthawks     1st  Jacobson            24             94)
('Jacon',    regiment company   name  preTestScore  postTestScore
5  Dragoons     1st  Jacon             4             25)
('Miller',      regiment company    name  preTestScore  postTestScore
0  Nighthawks     1st  Miller             4             25)
('Milner',      regiment company    name  preTestScore  postTestScore
3  Nighthawks     2nd  Milner             2             62)
('Piger',   regiment company   name  preTestScore  postTestScore
9   Scouts     1st  Piger             3             70)
('Riani',    regiment company   name  preTestScore  postTestScore
10   Scouts     2nd  Riani             2             62)
('Ryaner',    regiment company    name  preTestScore  postTestScore
6  Dragoons     2nd  Ryaner            24             94)
('Sloan',   regiment company   name  preTestScore  postTestScore
8   Scouts     1st  Sloan             2             62)
('Sone',    regiment company  name  preTestScore  postTestScore
7  Dragoons     2nd  Sone            31             57)

[None, None, None, None, None, None, None, None, None, None, None]